.row.small-spacing .col-xs-1, .row.small-spacing .col-xs-10, .row.small-spacing .col-xs-11, .row.small-spacing .col-xs-12, .row.small-spacing .col-xs-2, .row.small-spacing .col-xs-3, .row.small-spacing .col-xs-4, .row.small-spacing .col-xs-5, .row.small-spacing .col-xs-6, .row.small-spacing .col-xs-7, .row.small-spacing .col-xs-8, .row.small-spacing .col-xs-9,
.row.small-spacing .col-md-1, .row.small-spacing .col-md-10, .row.small-spacing .col-md-11, .row.small-spacing .col-md-12, .row.small-spacing .col-md-2, .row.small-spacing .col-md-3, .row.small-spacing .col-md-4, .row.small-spacing .col-md-5, .row.small-spacing .col-md-6, .row.small-spacing .col-md-7, .row.small-spacing .col-md-8, .row.small-spacing .col-md-9 {
    padding-left: 5px;
    padding-right: 5px;
}

.row.small-spacing:first-child {
    margin-left: -5px;
}
.row.small-spacing:last-child {
    margin-right: -5px;
}

.bg-white {
	background-color: #FFF;
}

.clr-red {
	color: #ff5358;
}

.dotted-line {
	display: block;
	min-height: 2px;
	background: url(../../images/icons/dot.png) repeat-x;
}